In [1]:
import sys
import numpy as np
import pandas as pd
import cv2
import os 
from tqdm import tqdm

In [11]:
train_data = pd.read_csv('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/megaage_asian/list/train_name.txt', sep=" ", header=None)
train_data = pd.concat([train_data, pd.read_csv('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/megaage_asian/list/train_age.txt', sep=" ", header=None)], axis = 1)
train_data.columns = ['file_name','age']

test_data = pd.read_csv('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/megaage_asian/list/test_name.txt', sep=" ", header=None)
test_data = pd.concat([test_data, pd.read_csv('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/megaage_asian/list/test_age.txt', sep=" ", header=None)], axis = 1)
test_data.columns = ['file_name','age']

In [16]:
print(len(train_data))
print(len(test_data))

40000
3945

In [32]:
len(os.listdir('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/opencv_face_detector/cropped/train'))

39946

In [29]:
real_train = pd.DataFrame(os.listdir('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/opencv_face_detector/cropped/train'))
real_train.columns = ['file_name']
train_data= pd.merge(train_data, real_train, how= 'right', on='file_name')
del real_train

real_test = pd.DataFrame(os.listdir('/Users/krc/Desktop/수업자료/딥러닝 프로젝트/opencv_face_detector/cropped/test'))
real_test.columns = ['file_name']
test_data= pd.merge(test_data, real_test, how= 'right', on='file_name')
del real_test

In [30]:
train_data

       file_name  age
0       9733.jpg   24
1      14147.jpg   32
2         63.jpg    3
3       6400.jpg    5
4      34297.jpg    0
...          ...  ...
39941  35190.jpg   36
39942  32827.jpg   55
39943   6419.jpg   30
39944   1376.jpg   23
39945  13631.jpg   26

[39946 rows x 2 columns]

In [31]:
test_data

     file_name  age
0       63.jpg    1
1      823.jpg   13
2     3578.jpg    9
3     2666.jpg   33
4     2100.jpg    1
...        ...  ...
3935   184.jpg    6
3936  3207.jpg   46
3937  2119.jpg    1
3938  3561.jpg    6
3939  1376.jpg   25

[3940 rows x 2 columns]